extends ../default

block content

  include ../templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'SIMPLE TASK MANAGER' 

      table(class=['ui', 'table', 'celled'] id='tbl-task')
        thead
          tr
            th= 'ID'
            th= 'Category'
            th= 'Task'
            th= 'Action'
        tbody
          each i in task
            tr
              td(id='taskID')= i.ID
              td= i.Category
              td= i.Task
              td
                a(class=['ui button basic icon'] id='btn-complete' href='#' data-inverted='' data-tooltip='Completed' data-position='top center')
                  i(class=['checkmark icon'])

                a(class=['ui button basic icon'] href='#' data-inverted='' data-tooltip='Edit' data-position='top center')
                  i(class=['cut icon'])

  script(src = '/javascripts/tasks.js')