extends ../default

block content

  include ../templates/nav
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'SIMPLE TASK MANAGER' 

      table(class=['ui', 'table', 'celled'] id='tbl-task')
        thead
          tr
            th= 'ID'
            th= 'Category'
            th= 'Task' 
            th= 'Action'
        tbody
          each i in task
            tr
              td= i.ID
              td= i.Category
              td= i.Task
              td= 'Remove/Modify'
